<nav class="navbar navbar-default">
  <div class="container-fluid">

	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">Name A Tree</a>
	  </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
			  <li role="presentation"><a href='#'>Home</a></li>
			  <li role="presentation"><a href="#">About</a></li>
			  <li role="presentation"><a href="#">Stats</a></li>
			  <li role="presentation"><a href="#">Picture</a></li>
			</ul>
			<%= form_for(:user, :url => session_path(:user), html: {class: 'navbar-form navbar-right'}) do |f| %>
		    <div class="container-fluid form-group">
					<% if !user_signed_in? %>
						<%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
					  <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>

						<%= f.submit 'Sign in', class: 'btn btn-default' %>
			      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success' %>
		      <% else %>
			      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
					<% end %>
		    </div>
		  <% end %>
	  </div>
  </div>
</nav>
